@{
    ViewBag.Title = "Home Page";
}

@model List<MyBlog.Models.Post>

<div>
    
    <img src="/craft beer4.jpg" width="1130" height="250"/>
    
</div>



<section class="row">
    



    <article class="beers col-md-6">
        <h1 class="title">Причини, за да предпочетем крафт бирата</h1>
        <h2>Крафт бирата има по-хубав вкус.</h2> 
        <div>
            <p>Безспорната №1 причина да предпочетеш такава бира е, защото има много по-приятен вкус,
             отколкото „бирената вода“, която масовата продукция на големите компании предлага.
             А крафт-пивото е по-добро, защото пивоварите прекарват достатъчно време в търсене на 
             по-добро качество на своите марки, отколкото да се фокусират в маркетингови кампании или 
             ценови политики. Крафт-пивоварите влагат своето сърце и душа, както и доста страхотни съставки 
             във всяка бира, която правят. От друга страна големите компании имат практика да
             отнемат от суровините. Защо тогава някой да иска да пие бира, която нарочно е разводнена с 
             пренебрежение към важните съставки? Затова изберете вкуса, изберете крафт-бирата.              
            </p>

        </div>
   
    </article>



    <article class="beers col-md-6">
        
        <h1>Повече алкохол.</h1> 
        <div>
            <p>
                Да, крафт-бирите са във всевъзможни разновидности, но едно нещо си остава неизменно – 
                те винаги ти въздействат. Повечето от тях са между 5 и 10% алк., а някои стигат дори 20, 30
                и даже 40%. Сравнете това с приблизителните 4-4,5% на големите бирени компании и ще видите, 
                че няма място за сравнение.
            </p>

        </div>
        
    </article>

    <article class="beers col-md-6">
        
        <h1>По-малко „разходки“ до тоалетната.</h1> 
        <div>
            <p>
                Когато пиеш крафт-бира, ти няма да ходиш по малка нужда на всеки 10 минути, 
                защото няма да изпиеш толкова много бири. Да вземем като пример едно твое излизане с приятели.
                Твоята бира за вечерта е някоя от масовите. Всяка от тях е достатъчно слаба и водниста. 
                И ти трябва да изпиеш 4-5 от тях, за да получиш същия ефект, както две (или дори една) крафт-бири.
                Така рискуваш да прекараш голяма част от вечерта вървейки към и от тоалетната. Кому е нужно това?
                Никому!
            </p>

        </div>

    </article>

    <article class="beers col-md-6">
        <h1 class="title">Какво е крафт бира и защо да я опитате?</h1>

        <div>
            <p>
                Какво е крафт бира и защо да я опитате?
                Отговорът е много лесен, ако сте заклет фен на бирата и сте убедени,
                че това не е напитка само за лятото – заради безкрайните възможности
                да опитвате различни вкусове и аромати.
            </p>
            <p>
                Всъщност т.нар. крафт или занаятчийски пивоварни се появяват през 90-те години в САЩ.
                Обикновено са частни, малки и произвеждат ограничено количество бира.
                Пивоварите обаче не залагат толкова на количеството, колкото на качеството и вкусовете на бирата.
            </p>
            <p>
                „Основната разлика между крафт бирите и тези, които можете да си купите във всеки супермаркет,
                е в това, че съставките са истински. Пивоварите отделят много повече време за производството и
                ферментацията и напитката не се прави на конвейр“
            </p>
            <p>
                Сред крафт бирите можете да намерите някои по-традиционни вкусове, но с осезаемо по-добро качество.
                Ако ви се опитва нещо различно, може да пробвате крафт бира с мед, люти чушки, бекон, кафе, шоколад,
                стриди или с плодове. Има и бири, отлежавали в бъчви от бърбън, които се обогатяват с допълнителен
                аромат.
            </p>

        </div>
        <div class="title"><i>Публикувано от Kaloyan Slavev(Koxy) на 23-08-2016</i></div>
    </article>
   


</section>

<section class="row">

    @foreach (var post in Model)
    {
        <article class="beers col-md-6">
            <h2 class="title">@post.Title</h2>
            @if (post.Author != null)
            { 
            <div class="about"><i>Публикувано от @post.Author.FullName (@post.Author.UserName)
                 на @post.Date</i></div>
            }
            <div class="body">
                @Html.Raw(post.Body)
            </div>
        </article>
    }
</section>
