@model IEnumerable<MyBlog.Models.Post>

@{
    ViewBag.Title = "Бири";
}

<h2>Бири</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Бира
        </th>
        <th>
            Описание
        </th>
        <th>
            Дата
        </th>
        
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
